{% extends "layout.html" %}
{% block body %}
    <p>
        Pass ticker symbols to tickers variable in URL string e.g.: 
        <strong>
            AAPL TSLA
        </strong>
    </p>

    <div>
        <form action="/portfolio_optimizer">
            <label for="tickers">Ticker List:</label>
            <br>
            <input type="text" placeholder="AAPL TSLA" name="tickers" id="tickers">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}