<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Optimizer</title>

    <link rel="stylesheet" href="../static/index-style.css">
</head>
<body>
    <h1>
        Portfolio Optimizer Rest API using Flask
    </h1>
    <p>Pass ticker symbols to tickers variable in URL string e.g. :</p>
    <a href='/api/portfolio?tickers=AAPL TSLA'>View Min Risk and Max Return Portfolios for FB and GOOGL</a>
</body>
</html>