<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Optimizer</title>


    <!-- BOOTSTRAP Styling -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <!-- CSS Styling -->

    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
</head>
<body>

    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="https://www.citigroup.com/citi/assets/img/brand/citi-logo-no-r.png"
            alt="Citi Logo"
            >
            Stock Portfolio Optimizer
        </a>
    </nav>

    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>