{% extends "layout.html" %}
{% block body %}
<table>
    {% for k, v in data.items()  %}
        <tr>
                <th>{{k}}</th>
                <td>{{v}}</td>
        </tr>
    {% endfor %}
</table>

<script>
    function change_heading() {
    
    let params = (new URL(document.location)).searchParams;
    let tickers = params.get("tickers");
    console.log(params)
    console.log(tickers)

    document.getElementById("header").innerHTML = "Optimized Stock Portfolio" + " for " + tickers;
    }
    
    change_heading();

</script>
{% endblock %}